-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_capstone
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_results`
--

DROP TABLE IF EXISTS `audit_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_results` (
  `id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(120) DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `confidence` varchar(20) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `raw_json` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `session_id` int NOT NULL,
  `product_id` int NOT NULL,
  `detected_count` int NOT NULL DEFAULT '1',
  `expected_count` int NOT NULL DEFAULT '0',
  `image_path` varchar(255) NOT NULL DEFAULT '',
  `algorithm_used` varchar(80) NOT NULL DEFAULT 'fasterrcnn_resnet50_fpn',
  PRIMARY KEY (`id`),
  KEY `ix_audit_results_session_id` (`session_id`),
  KEY `ix_audit_results_product_id` (`product_id`),
  CONSTRAINT `audit_results_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `audit_sessions` (`id`),
  CONSTRAINT `audit_results_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_results`
--

LOCK TABLES `audit_results` WRITE;
/*!40000 ALTER TABLE `audit_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_sessions`
--

DROP TABLE IF EXISTS `audit_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `store_id` int NOT NULL,
  `session_date` date NOT NULL,
  `status` varchar(20) NOT NULL,
  `notes` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_audit_sessions_store_id` (`store_id`),
  KEY `ix_audit_sessions_id` (`id`),
  KEY `ix_audit_sessions_user_id` (`user_id`),
  CONSTRAINT `audit_sessions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `audit_sessions_ibfk_2` FOREIGN KEY (`store_id`) REFERENCES `stores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_sessions`
--

LOCK TABLES `audit_sessions` WRITE;
/*!40000 ALTER TABLE `audit_sessions` DISABLE KEYS */;
INSERT INTO `audit_sessions` VALUES (19,18,1,'2026-07-02','AMAN',''),(20,18,1,'2026-07-05','AMAN',''),(21,18,1,'2026-07-14','AMAN',''),(22,18,1,'2026-07-15','AMAN',''),(23,18,1,'2026-07-15','AMAN',''),(24,18,1,'2026-07-15','AMAN','');
/*!40000 ALTER TABLE `audit_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detection_logs`
--

DROP TABLE IF EXISTS `detection_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detection_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `result_id` int NOT NULL,
  `bbox_x` decimal(10,2) NOT NULL,
  `bbox_y` decimal(10,2) NOT NULL,
  `bbox_w` decimal(10,2) NOT NULL,
  `bbox_h` decimal(10,2) NOT NULL,
  `confidence` decimal(5,4) NOT NULL,
  `label` varchar(120) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_detection_logs_result_id` (`result_id`),
  CONSTRAINT `detection_logs_ibfk_1` FOREIGN KEY (`result_id`) REFERENCES `audit_results` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detection_logs`
--

LOCK TABLES `detection_logs` WRITE;
/*!40000 ALTER TABLE `detection_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `detection_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sku` varchar(80) NOT NULL,
  `name` varchar(120) NOT NULL,
  `category` varchar(80) NOT NULL,
  `description` text NOT NULL,
  `image_url` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_products_sku` (`sku`),
  KEY `ix_products_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_reports`
--

DROP TABLE IF EXISTS `stock_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_reports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `session_id` int NOT NULL,
  `product_id` int NOT NULL,
  `on_shelf` int NOT NULL,
  `shortage_flag` smallint NOT NULL,
  `generated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_stock_reports_id` (`id`),
  KEY `ix_stock_reports_product_id` (`product_id`),
  KEY `ix_stock_reports_session_id` (`session_id`),
  CONSTRAINT `stock_reports_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `audit_sessions` (`id`),
  CONSTRAINT `stock_reports_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_reports`
--

LOCK TABLES `stock_reports` WRITE;
/*!40000 ALTER TABLE `stock_reports` DISABLE KEYS */;
INSERT INTO `stock_reports` VALUES (73,19,40,3,0,'2026-07-02 05:07:14'),(74,20,40,4,0,'2026-07-05 10:52:12'),(75,20,39,3,0,'2026-07-05 10:52:12'),(77,21,40,4,0,'2026-07-13 19:11:51'),(78,21,39,2,0,'2026-07-13 19:11:51'),(79,21,43,2,0,'2026-07-13 19:11:51'),(80,22,39,2,0,'2026-07-15 01:59:54'),(81,22,40,3,0,'2026-07-15 01:59:54'),(82,22,43,2,0,'2026-07-15 01:59:54'),(83,23,44,6,0,'2026-07-15 02:59:44'),(84,24,39,2,0,'2026-07-15 03:34:43'),(85,24,40,3,0,'2026-07-15 03:34:43'),(86,24,43,2,0,'2026-07-15 03:34:43');
/*!40000 ALTER TABLE `stock_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stores`
--

DROP TABLE IF EXISTS `stores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `address` text NOT NULL,
  `phone` varchar(30) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_stores_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stores`
--

LOCK TABLES `stores` WRITE;
/*!40000 ALTER TABLE `stores` DISABLE KEYS */;
INSERT INTO `stores` VALUES (1,'Main Store','-','-','2026-05-28 21:59:23'),(2,'acyakk','pauh','029383','2026-05-29 01:03:06');
/*!40000 ALTER TABLE `stores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(120) NOT NULL,
  `full_name` varchar(120) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `role` varchar(20) NOT NULL DEFAULT 'staff',
  `store_id` int NOT NULL DEFAULT '1',
  `password_hash` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_users_username` (`username`),
  UNIQUE KEY `ix_users_email` (`email`),
  KEY `ix_users_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-15 10:54:19
